@model FacebookDebat.Controllers.StatusController.PageResult
@{
//    ViewBag.Title = Model.word;
}

<table style="width: 30%; float: left;">
    <thead>
        <tr><td>Kommentator</td><td>Count</td></tr>
    </thead>
    <tbody>
        @foreach (var commenter in Model.commentators)
        {
            <tr>
                <td>@Html.ActionLink(commenter["name"].ToString(), "Page", "Commenter", new { id = commenter["id"] }, new object())</td>
                <td class="number">@commenter["cnt"]</td>
            </tr>
        }
    </tbody>
</table>

<table style="float: left;">
    <thead>
        <tr><td>Page</td><td>Count</td></tr>
    </thead>
    <tbody>
        @foreach (var word in Model.words)
        {
            <tr>
                <td class="number">@Html.ActionLink(word["word"].ToString(), "Page", "Word", new { id = word["id"] }, new object())</td>
                <td class="number">@word["cnt"]</td>
                <td class="">@Html.ActionLink("Stop", "Stop", "Home", new { id = word["id"] }, new object())</td>
            </tr>
        }
    </tbody>
</table>


<div style="clear:both;"></div>

