@model FacebookDebat.Controllers.CommenterController.Commenter

@{
    ViewBag.Title = Model.name;
}

<h2>@Model.name</h2>

<table style="float: left;">
    <thead>
        <tr><td>Page</td><td>Comments</td></tr>
    </thead>
    <tbody>
        @foreach (var page in Model.pages)
        {
            <tr>
                <td class="number">@Html.ActionLink(page["name"].ToString(), "Page", "Politician", new { id = page["id"] }, new object())</td>
                <td class="number">@page["cnt"]</td>
            </tr>
        }
    </tbody>
</table>


<table style="float: left;">
    <thead>
        <tr><td>Word</td><td>Comments</td></tr>
    </thead>
    <tbody>
        @foreach (var word in Model.words)
        {
            <tr>
                <td>@Html.ActionLink(word["word"].ToString(), "Page", "Word", new { word = word["word"] }, new object())</td>
                <td class="number">@word["cnt"]</td>
            </tr>
        }
    </tbody>
</table>

<div style="clear:both;"></div>

<table>
    <thead>
        <tr><td>Date</td><td>Comments</td></tr>
    </thead>
    <tbody>
        @foreach (var date in Model.dates)
        {
            <tr>
                <td>@(((DateTime)date["date"]).ToString("yyyy-MM-dd"))</td>
                <td class="number">@date["cnt"]</td>
            </tr>
        }
    </tbody>
</table>
