@model FacebookDebat.Controllers.WordController.Words
@{
    ViewBag.Title = Model.word;
}

<h2>@Model.word</h2>

<p>
    @(String.Join(", ", Model.stemmedWords.ToArray()))
</p>

<table style="float: left;">
    <thead>
        <tr><td>Page</td><td>Count</td></tr>
    </thead>
    <tbody>
        @foreach (var page in Model.pages)
        {
            <tr>
                <td class="number">@Html.ActionLink(page["name"].ToString(), "Page", "Politician", new { id = page["id"] }, new object())</td>
                <td class="number">@page["cnt"]</td>
            </tr>
        }
    </tbody>
</table>

<table style="width: 30%; float: left;">
    <thead>
        <tr><td>Kommentator</td><td>Count</td></tr>
    </thead>
    <tbody>
        @foreach (var commenter in Model.commentators)
        {
            <tr>
                <td>@Html.ActionLink(commenter["name"].ToString(), "Page", "Commenter", new { id = commenter["id"] }, new object())</td>
                <td class="number">@commenter["cnt"]</td>
            </tr>
        }
    </tbody>
</table>



<div style="clear:both;"></div>

