@model FacebookDebat.Models.PoliticianModel
@{
    ViewBag.Title = Model.Entity.name;
}

<h2>@Model.Entity.name</h2>

<table style="width: 30%; float: right;">
    <thead>
        <tr><td>Word</td><td>Count</td></tr>
    </thead>
    <tbody>
        @foreach (var word in Model.Words)
        {
            <tr>
                <td>@Html.ActionLink(word.Word.word1, "Page", "Word", new { word = word.Word.word1 }, new object())</td>
                <td class="number">@word.Count</td>
                <td class="">@Html.ActionLink("Stop", "Stop", "Home", new { id = word.Word.id }, new object())</td>
            </tr>
        }
    </tbody>
</table>

<table style="width: 30%; float: left;">
    <thead>
        <tr><td>Post</td><td>Count</td></tr>
    </thead>
    <tbody>
        @foreach (var post in Model.Posts.OrderByDescending(x => x.Post.date))
        {
            <tr>
                <td>@Html.ActionLink(Server.HtmlDecode(Lib.Cutoff(post.Post.message, 50).ToString()), "Page", "Status", new { id = post.Post.id }, new object())</td>
                <td class="number">@post.Count</td>
            </tr>
        }
    </tbody>
</table>

<table style="width: 30%; float: left;">
    <thead>
        <tr><td>Kommentator</td><td>Count</td></tr>
    </thead>
    <tbody>
        @foreach (var commenter in Model.Commenters)
        {
            <tr>
                <td>@Html.ActionLink(commenter.name, "Page", "Commenter", new { id = commenter.id }, new object())</td>
                <td class="number">@commenter.Count</td>
            </tr>
        }
    </tbody>
</table>

<div style="clear: both"></div>